{
  "presets": ["env","react","stage-0"],
  "plugins": [
    "transform-runtime",
    "react-html-attrs",
    "transform-class-properties",
    "syntax-dynamic-import"
  ],
  "env": {
    "test": {
      "plugins": ["dynamic-import-node"]
    }
  }
}
