node_modules/
.git/
.idea/
src/static/
src/jsx/
src/templates/
.gcloudignore
.gitignore
(.*/)?.*\.py[co]
(.*/)?.*\.json
^(.*/)?\..*
report.*json$
phtest.js
crittest.js
route-forecast-c4075d06140e.json
test.errs
webpack*
routeWeather*
!dist/
appengine_config.py
.ebextensions/
.elasticbeanstalk/
.nyc_output/
__mocks__/
coverage/
jest.out
TODOS
.DS_Store
.yarnclean
*sh
.shelf/
__test__/
