<html xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8">
        <title><%= htmlWebpackPlugin.options.title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='favicon-96x96.png') }}">
        <% if (htmlWebpackPlugin.files.favicon) { %>
            <link rel="shortcut icon" href="<%= htmlWebpackPlugin.files.favicon%>">
        <% } %>
    </head>
    <body>
        <div id="container">
            <div id="content"></div>
        </div>
        <script type="text/javascript" id='routeui' timezone_api_key='{{ timezone_api_key }}' maps_api_key='{{ maps_key }}' action="{{ url_for('forecast') }}" src='<%= htmlWebpackPlugin.files.js %>'></script>
        <% for (var css in htmlWebpackPlugin.files.css) { %>
        <link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet" type="text/css" >
        <% } %>
        <noscript>This application requires JavaScript. Please enable JavaScript to use the application.</noscript>
    </body>
</html>
