<html xmlns="http://www.w3.org/1999/html">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-117870646-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-117870646-1');
        </script>
        <meta charset="UTF-8">
        <title><%= htmlWebpackPlugin.options.title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='favicon-96x96.png') }}">
        <% if (htmlWebpackPlugin.files.favicon) { %>
            <link rel="shortcut icon" href="<%= htmlWebpackPlugin.files.favicon%>">
        <% } %>
        <script src="https://cdn.ravenjs.com/3.23.1/raven.min.js" crossorigin="anonymous"></script>
        <script>Raven.config('https://ea4c472ff9054dab8c18d594b95d8da2@sentry.io/298059',
            {release:'db6e0260a167e63f30deaa936bb312fb7579f2a3', environment:'production',
            breadcrumbCallback:function(crumb){if (crumb.type==='console') {return false} return crumb}}).install();</script>
        <script>
          function measureCRP() {
            var t = window.performance.timing,
              interactive = t.domInteractive - t.domLoading,
              dcl = t.domContentLoadedEventStart - t.domLoading,
              complete = t.domComplete - t.domLoading;
            var stats = document.createElement('p');
            stats.textContent = 'interactive: ' + interactive + 'ms, ' +
                'dcl: ' + dcl + 'ms, complete: ' + complete + 'ms';
            console.log(stats);
          }
        </script>
        <script>
            function supportsArrowFunctions() {
                try {
                    new Function("(a) => a");
                    return true;
                }
                catch (err) {
                    return false;
                }
            }
        </script>
        <script>
            function addScriptTag() {
                if (supportsArrowFunctions()) {
                    var element = document.createElement('script');
                    element.setAttribute('id', 'routeui');
                    element.setAttribute('timezone_api_key', '{{ timezone_api_key }}');
                    element.setAttribute('maps_api_key', '{{ maps_key }}');
                    element.setAttribute('action', '{{ url_for("forecast") }}');
                    element.setAttribute('src', '<%= htmlWebpackPlugin.files.js %>');
                    document.body.appendChild(element);
                } else {
                    document.write("Sorry, this browser is not supported. Please try a newer one such as Chrome or Firefox");
                }
            }
        </script>
        <% for (var css in htmlWebpackPlugin.files.css) { %>
        <link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet" type="text/css" >
        <% } %>
    </head>
    <body onload="addScriptTag();measureCRP()">
        <div id="container">
            <div id="content"></div>
        </div>
        <noscript>This application requires JavaScript. Please enable JavaScript to use the application.</noscript>
    </body>
</html>
