files:
    "/etc/httpd/conf.d/www_compress.conf":
        mode: "000644"
        owner: root
        group: root
        content: |
            <Directory /opt/python/current/app/>
              RewriteEngine on
              # Make sure the browser supports gzip encoding before we send it
              RewriteCond %{HTTP:Accept-Encoding} \b(x-)?br\b
              RewriteCond %{REQUEST_URI} .*\.(css|js|svg)
              RewriteCond %{REQUEST_FILENAME}.br -s
              RewriteRule ^(.+) $1.br [L,QSA]

              RewriteCond %{HTTP:Accept-Encoding} \b(x-)?gzip\b
              RewriteCond %{REQUEST_URI} .*\.(css|js|svg)
              RewriteCond %{REQUEST_FILENAME}.gz -s
              RewriteRule ^(.+) $1.gz [L,QSA]

              # without it, Content-Type will be "application/x-gzip"
              # also add a content-encoding header to tell the browser to decompress
          
              <FilesMatch \.css\.gz$>
               ForceType text/css
               Header set Content-Encoding gzip
               Header append Vary Accept-Encoding
              </FilesMatch>

              <FilesMatch \.js\.gz$>
               ForceType text/javascript
               Header set Content-Encoding gzip
               Header append Vary Accept-Encoding
             </FilesMatch>

              <FilesMatch \.css\.br$>
               ForceType text/css
               Header set Content-Encoding br
               Header append Vary Accept-Encoding
              </FilesMatch>

              <FilesMatch \.js\.br$>
               ForceType text/javascript
               Header set Content-Encoding br
               Header append Vary Accept-Encoding
             </FilesMatch>

              <FilesMatch \.svg\.gz$>
               ForceType image/svg+xml
               Header set Content-Encoding gzip
               Header append Vary Accept-Encoding
             </FilesMatch>

              <FilesMatch \.svg\.br$>
               ForceType image/svg+xml
               Header set Content-Encoding br
               Header append Vary Accept-Encoding
             </FilesMatch>

            </Directory> 
