<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
    <head>
        
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-117870646-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-117870646-1');
        </script>
        <meta charset="UTF-8">
        <title>Plan and forecast bicycle ride</title>
        <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1">
        <meta name="keywords" content="bicycling, randonneuring, planning, bicycle routes, weather, elevation, hill climbing, estimates, cycle weather, bike rides">
        <meta name="description" content="Randoplan gives time estimates and weather forecasts for a cycling route, taking into account the terrain and the forecasted wind.
        It also gives time estimates for any intermediate stops. Afterwards it can compare results with the actual completed ride using data from Strava.">
        <link rel="preconnect" href="https://maps.googleapis.com">
        <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/static/favicon-96x96.png">
        <link rel="apple-touch-icon-precomposed" href="/static/apple-icon-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/apple-icon-72x72.png">
        <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/static/apple-icon-76x76.png">
        <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/static/apple-icon-152x152.png">
        <link rel="apple-touch-icon-precomposed" sizes="180x180" href="/static/apple-icon-180x180.png">
        <link rel="apple-touch-icon-180x180-precomposed" href="/static/apple-icon-180x180.png">
        <link rel="manifest" href="/static/manifest.json">
        
        <script>
        function measureCRP() {
            var t = window.performance.timing,
              interactive = t.domInteractive - t.domLoading,
              dcl = t.domContentLoadedEventStart - t.domLoading,
              complete = t.domComplete - t.domLoading;
            var stats = document.createElement('p');
            stats.textContent = 'interactive: ' + interactive + 'ms, ' +
                'dcl: ' + dcl + 'ms, complete: ' + complete + 'ms';
            console.log(stats);
          }
        </script>
        <script>
            // WARNING: See the following for security issues around embedding JSON in HTML:
            // http://redux.js.org/recipes/ServerRendering.html#security-considerations
            window.__PRELOADED_STATE__ = '<?= preloaded_state ?>'
        </script>
        <script>
            function supportsArrowFunctions() {
                try {
                    new Function("(a) => a");
                    return true;
                }
                catch (err) {
                    return false;
                }
            }
        </script>
        <script>
            function addScriptTag() {
                if (supportsArrowFunctions()) {
                    var element = document.createElement('script');
                    element.setAttribute('id', 'routeui');
                    element.setAttribute('timezone_api_key', '<?= timezone_api_key ?>');
                    element.setAttribute('maps_api_key', '<?= maps_key ?>');
                    element.setAttribute('bitly_token', '<?= bitly_token ?>');
                    element.setAttribute('sentry_app_id', '<?= sentry_app_id ?>');
                    element.setAttribute('action', '/forecast');
                    element.setAttribute('mode', 'development');
                    element.setAttribute('src', 'static/main.bundle.js');
                    document.body.appendChild(element);
                } else {
                    document.write("Sorry, this browser is not supported. Please try a newer one such as Chrome or Firefox");
                }
            }
        </script>
        
        <link href="static/main.css" rel="stylesheet" type="text/css">
        
    </head>
    <body onload="addScriptTag();measureCRP()">
        <div id="container">
            <div id="content"><?- reactDom ?></div>
        </div>
        <noscript>This application requires JavaScript. Please enable JavaScript to use the application.</noscript>
    </body>
</html>
