h1 {
    color: navy;
    margin-left: 20px;
}
.bigger {
  color: #908;
  font-weight: bold;
  font-size: 200%;
  width:10em;
}
#content input[disabled] {
    color: #DCDAD1;
    padding: 2px;
    margin: 0 0 0 0;
    background-image: none;
}

