.pagetitle {
    color: #810080;
}
#forecast {
    color: #803;
    width: 13em;  height: 4em;
}
input.action {
    color: #908;
    width: 15em;  height: 3em;
}
button {
  color: #900;
  font-weight: bold;
  font-size: 150%;
  }