<html>
  <head>
    <title>Submit a form</title>
   <link rel="stylesheet" type="text/css" href="static/style.css">
      <style>
        button {
            color: #900;
            font-weight: bold;
            font-size: 150%;
        }
        input.action {
            color: #909;
            width: 14em;  height: 3em;
        }
      </style>
  </head>
  <body>
    <div id="container">
      <div class="pagetitle">
        <h1>Submit a form</h1>
      </div>
      <div id="main">
        <form method="post" enctype="multipart/form-data" action="{{ url_for('submitted_form') }}">
          <label for="interval">Interval in hours:</label>
          <input type="number" min=0.5 max=2 step=0.5 name="interval" required><br />
          <label for="starting_time">Starting time:</label>
          <input type="datetime-local" name="starting_time" required><br />
          <label for="pace">Pace:</label>
          <select name="pace" required>
             <option value="A">A</option>
             <option value="B">B</option>
             <option value="C">C</option>
             <option value="C+">C+</option>
             <option value="D-">D-</option>
             <option value="D">D</option>
             <option value="D+">D+</option>
             <option value="E-">E-</option>
             <option value="E">E</option>
         </select><br />
          <label for="route">Route file:</label>
          <input type="file" name="route" size="25" accept=".gpx" required><br />
          <!--<input type="file" name="route" class="action" style="width: 20em;  height: 3em" accept=".gpx" required><br />-->
          <input type="submit" id="forecast" class="action" value="Find forecast">
          <!--<input type="submit" id="forecast" style="width: 15em;  height: 3em" value="Find forecast">-->
        </form>
      </div>
    </div>
  </body>
</html>
