.controls-container {
  display: flex;
  flex-flow: row;
  padding: 10px;
  align-items: center;
}

.mobile-controls-container {
  display: flex;
  flex-flow: wrap;
  padding:8px;
  align-items: center;
}

#finish-time-label {
  justify-content: flex-start;
}

.controls-item {
  margin: 5px;
  flex: 1;
}

.controls-item-contents {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}

.controls-checkbox-label, .controls-textinput-label {
  margin-right: 5px;
  font-size: .875rem;
  font-weight: bold;
}

.controls-textinput-label {
  flex: 1;
}