.red-tooltip {
    background-color: #ff363d;
    color: #000;
    border: 1px solid #062e56;
}

.red-tooltip ~ .arrow:before {
    /*border-top: 5px solid #062e56;*/
    border-bottom-color: #ff363d;
}

.green-tooltip {
    background-color: #40ff23;
    color: #000;
    border: 1px solid #062e56;
}

.green-tooltip ~ .arrow:before {
    border-bottom-color: #40ff23;
}

#controlListTitle, #paceSpan {
    text-align: center;
}

@media (min-width: 800px) {
    input#ridewithgps {
        width: 8em;
        height: 3em;
        padding: 12px;
    }
}
/*
#content input_1[disabled] {
    color: #DCDAD1;
    padding: 2px;
    margin: 0 0 0 0;
    background-image: none;
}
*/

.rwgps_route {
    font-size: 90%;
}

.rwgpsLogin {
    background: url(https://ridewithgps.com/images/logo_trans_black.png?1) no-repeat;
    height:40px;
    width:179px;
}
form.form-inline {
    margin-bottom: 0;
}
label.control-label {
    padding-left: 8px;
    padding-top: inherit;
    padding-right: 8px;
    display: inline-flex;
    align-self: center;
}

.dlgTitle {
    background-color: rgba(245, 245, 245, 0.91);
}

.cpListTitle {
    color: rgba(64, 111, 140, 0.87);
    background-color: rgba(221, 237, 246, 0.85);
}

.rideRatingPopup {
    border-style: ridge;
    border-width: medium;
}

img#stravaImage {
    width: 5.2rem;
    height: 2.6rem;
}

img#bugImage {
    width: 2rem;
    height: 2rem;
}

.stravaDialogTitle {
    text-align: center;
    background-color: rgba(255,138,236,0.37);
}

input#finishTime.form-control {
    display: inline-flex;
    width: 14em;
    margin-top: 3px;
    margin-bottom: 0px;
}
input#interval.form-control {
    padding-top: 5px;
    display: inline-flex;
    align-self: center;
}
input.form-group-sm {
    padding-top: 5px;
    display: inline-flex;
}
input.form-inline {
    padding-top: 5px;
    display: inline-flex;
    align-self: center;
}
span.pt-icon-standard.pt-icon-calendar {
    padding-top: 5px;
    display: inline-flex;
    align-self: center;
}
select.form-control {
    padding-top: 5px;
    display: inline-flex;
}
select#pace.form-control {
    padding-top: 5px;
    display: inline-flex;
    align-self: flex-end;
}
.dateDisplay {
    width: 15em;
    padding-top: 5px;
    font-size: 80%;
    font-weight: bold;
    display: inline-flex;
}

.Resizer {
    background: #000;
    opacity: .2;
    z-index: 1;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
}

 .Resizer:hover {
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
}

 .Resizer.horizontal {
    height: 12px;
    margin: -5px 0;
    border-top: 5px solid rgba(255, 255, 255, 0);
    border-bottom: 5px solid rgba(255, 255, 255, 0);
    cursor: row-resize;
    width: 100%;
}

.Resizer.horizontal:hover {
    border-top: 5px solid rgba(0, 0, 0, 0.5);
    border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer.vertical {
    width: 11px;
    margin: 0 -5px;
    border-left: 5px solid rgba(255, 255, 255, 0);
    border-right: 5px solid rgba(255, 255, 255, 0);
    cursor: col-resize;
}

.Resizer.vertical:hover {
    border-left: 5px solid rgba(0, 0, 0, 0.5);
    border-right: 5px solid rgba(0, 0, 0, 0.5);
}
Resizer.disabled {
  cursor: not-allowed;
}
Resizer.disabled:hover {
  border-color: transparent;
}