#controlListTitle, #paceSpan {
    text-align: center;
}

#controlTable {
    height: 170px;
}

@media (min-width: 800px) {
    input#ridewithgps {
        width: 8em;
        height: 3em;
        padding: 12px;
    }
}

.highlighted {
    background-color: rgba(167, 207, 255, 0.4);
}

.ridewithgps_init {
    box-shadow: 0 0 3px #CC0000;
}

.rwgpsLogin {
    background: url(https://ridewithgps.com/images/logo_trans_black.png?1) no-repeat;
    height: 40px;
    width: 179px;
}

form.form-inline {
    margin-bottom: 0;
}

label.control-label {
    padding-left: 8px;
    padding-top: inherit;
    padding-right: 8px;
    display: inline-flex;
    align-self: center;
}

.dlgTitle {
    background-color: rgba(245, 245, 245, 0.91);
}

.cpListTitle {
    color: rgba(64, 111, 140, 0.87);
    background-color: rgba(221, 237, 246, 0.85);
}

.rideRatingPopup {
    border-style: ridge;
    border-width: medium;
}

img#stravaImage {
    width: 5.2rem;
    height: 2.6rem;
}

img#bugImage {
    width: 2rem;
    height: 2rem;
}

.stravaDialogTitle {
    text-align: center;
    background-color: rgba(234, 89, 41, 0.91);
    color: rgb(255, 255, 255);
}

.timeHeaderCell {
    font-size: 80%;
    width: 78px
}

.headerCell {
    font-size: 80%;
    /* width: 60% */
}

.clickableHeaderCell {
    font-size: 80%;
    /* width: 60%; */
    color: #0000EE
}

.largerClickableHeaderCell {
    font-size: 100%;
    width: 90%;
    color: #0000EE
}

.largerStruckClickableHeaderCell {
    font-size: 100%;
    width: 90%;
    color: #0000EE;
    text-decoration: line-through;
}

.timeCell {
    width: 78px
}

.chanceRainCell {
    width: 80px
}
@keyframes glowing {
    0% {
        box-shadow: 0 0 5px #0000EE;
    }

    50% {
        box-shadow: 0 0 15px #0000EE;
    }

    100% {
        box-shadow: 0 0 20px #0000EE40;
    }
}

.glowing_input {
    animation: glowing 1300ms infinite;
}

input#finishTime.form-control {
    display: inline-flex;
    width: 17em;
    margin-top: 3px;
    margin-bottom: 0px;
    height: 28px;
    flex: 1.75;
    padding-top: 5px;
    margin-right: 5px;
    background-color: #e9ecef;
}

input#finishTime.finish-time {
    display: inline-flex;
    width: 16em;
    margin-top: 3px;
    margin-bottom: 0px;
    flex: 0;
    font-size: .875rem;
    background-color: #e9ecef;
}

/*
input#finishTime.finish-time {
    display: inline-flex;
    width: 15em;
    margin-top: 3px;
    margin-bottom: 0px;
    height: 28px;
    flex: 1;
    padding-top: 5px;
    !*margin-right: 5px;*!
    font-size: .875rem;
    background-color: #e9ecef;
}
*/
input#interval.form-control {
    padding-top: 5px;
    display: inline-flex;
    align-self: center;
}

input.form-group-sm {
    padding-top: 5px;
    display: inline-flex;
}

input.form-inline {
    padding-top: 5px;
    display: inline-flex;
    align-self: center;
}

span.pt-icon-standard.pt-icon-calendar {
    padding-top: 5px;
    display: inline-flex;
    align-self: center;
}

select.form-control {
    padding-top: 5px;
    display: inline-flex;
}

select#pace.form-control {
    padding-top: 5px;
    display: inline-flex;
    align-self: flex-end;
}

.dateDisplay {
    width: 15em;
    padding: 5px 0px;
    text-align: center;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    cursor: pointer;
}

#gustyWeather {
    color: #CC0000;
}

table.bp4-html-table.bp4-html-table-bordered.bp4-html-table-striped.bp4-interactive td,
table.bp4-html-table.bp4-html-table-bordered.bp4-html-table-striped.bp4-interactive th {
    padding: 0.25rem; 
}

.spacer {
    display: flex;
    margin-bottom: 1rem;
}